

/* color of header background */
#header div:nth-last-child(1) {
    background-color: #fff !important ;
}
/* color of header text */
#header div:nth-last-child(1) div a {
    color: #000 !important ;
}

.btn-primary {
    background-color: #008dbe !important;
    background-image: linear-gradient(180deg,#008dbe,#80c6de);
    background-repeat: repeat-x;
    background-color: #008dbe;
    border: 1px solid #008dbe;
    border-bottom-color: #008dbe;
    border-top-color: #008dbe;
    color: #fff;
    box-shadow: inset 0 1px 0 #008dbe;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: #72b13b;
    background-image: linear-gradient(180deg,#9cc3d6,#e0ecf2);
    background-repeat: repeat-x;
    background-color: #7dc34b;
    border-color: #9cc3d6;
    border-bottom-color: #9cc3d6;
    border-top-color: #9cc3d6;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);
    color: #fff;
    text-decoration: none;
}
