<div class="modal fade higherWider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add <%- title %> Input</h4>
      </div>
      <form class="form form-horizontal form-small" role="form" onsubmit="return false;">
      <div class="modal-body">
            <div id="add_task_dialog_name">
            </div>

            <ul id="addBeanTab" class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#new_task_dialog_server_select_panel" role="tab" data-toggle="tab"><%- tabname %></a> </li>
              <li role="presentation"><a href="#new_task_dialog_task_setting_panel" role="tab" data-toggle="tab">Settings</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="new_task_dialog_server_select_panel">
                <div id="new_task_dialog_config_service" class="section service"></div>
              </div>
              <div class="tab-pane" id="new_task_dialog_task_setting_panel">
                <div id="new_task_dialog_config_setting" class="section setting"></div>
              </div>

            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary submit-btn submit-dialog" value="Create"/>
      </div>
    </form>
    </div>
  </div>
</div>
