<div class="modal fade higherWider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add AWS Account</h4>
      </div>
      <form class="form form-horizontal form-account" role="form" onsubmit="return false;" autocomplete = "off">
      <div class="modal-body">
        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Name <span class="required">*</span></label>
          <div class="col-sm-10 controls">
            <input type="text" class="form-control" name="new_account_dialog_name" placeholder="Name"
                   required
                   maxlength="255"
                   title="Please enter a valid name containing only:alphanumeric, space, dash, underscore and comma characters"
                    >
            <p class="help-block"></p>
          </div>
        </div>

        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Key ID <span class="required">*</span></label>
          <div class="col-sm-10 controls">
            <input type="text" class="form-control" name="new_account_dialog_key_id" placeholder="AWS account key id"
                    maxlength="255" required autocomplete="off">
          </div>
        </div>

        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Secret Key <span class="required">*</span></label>
          <div class="col-sm-10 controls">
            <input type="text" class="form-control" name="new_account_dialog_secret_key"
                   placeholder="AWS account secret key" required autocomplete="off">
          </div>
        </div>

        <div class="form-group control-group">
          <div class="col-sm-2 control-label">
            <label >Region Category <span class="required">*</span></label>
<!--             <label class="checkbox ckb-auto-detect" style="">
              Auto Detect
              <a href="#" class="btn" name="flag_auto_detect" checked="checked">
                <i class="icon-check"></i>
              </a>

            </label> -->
          </div>

          <div class="col-sm-10 controls region-category-select">
            <!-- <label class="checkbox ckb-category">
              <a href="#" class="btn" name="flag_category_commercial" checked="checked">
                <i class="icon-check" style=""></i>
              </a>
              Commercial
            </label>
            <label class="checkbox ckb-category">
              <a href="#" class="btn" name="flag_category_government">
                <i class="icon-check" style="display:none;"></i>
              </a>
              Government
            </label>
            <label class="checkbox ckb-category">
              <a href="#" class="btn" name="flag_category_china">
                <i class="icon-check" style="display:none;"></i>
              </a>
              China
            </label> -->
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary submit-btn submit-dialog" value="Add"/>
      </div>
    </form>
    </div>
  </div>
</div>
