<div class="modal fade higherWider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Delete AWS Account</h4>
      </div>
      <form class="form form-horizontal" role="form" onsubmit="return false;">
      <div class="modal-body">
          <div class="delete-prompt">
            <% if (in_use) { %>
                AWS account "<%- account_name %>" cannot be deleted because it is in use.
            <% }else{ %>
                Are you sure you want to delete the AWS account "<%- account_name %>"?
            <% }%>
          </div>
      </div>
      <div class="modal-footer">
        <% if (in_use) { %>
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        <% }else{ %>
            <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary submit-btn submit-dialog" value="Delete"/>
        <% }%>
      </div>
    </form>
    </div>
  </div>
</div>
