<div class="modal fade higherWider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Delete AWS <%- service_type %> input</h4>
      </div>
      <form class="form form-horizontal" role="form" onsubmit="return false;">
      <div class="modal-body">
          <div class="delete-prompt">
            Are you sure you want to delete the AWS <%- service_type %> input:"<%- input_name %>"?
          </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-primary submit-btn submit-dialog" value="Delete"/>
      </div>
    </form>
    </div>
  </div>
</div>
