<div class="modal fade higherWider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit AWS Account</h4>
      </div>
      <form class="form form-horizontal form-account" role="form" onsubmit="return false;" autocomplete = "off">
      <div class="modal-body">
        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Name <span class="required">*</span></label>
          <div class="col-sm-10 controls">
            <input type="text" class="form-control" name="edit_account_dialog_name"
                   required
                   maxlength="255"
                   pattern="[\w_]{1,255}"
                   title="Please enter a valid name containing alphanumeric and underscore characters only"
                   value="<%- name %>">
            <p class="help-block"></p>
          </div>
        </div>

        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Key ID <span class="required">*</span></label>
          <div class="col-sm-10 controls">
            <input type="text" class="form-control" name="edit_account_dialog_key_id"
                    maxlength="255" value="<%- key_id %>" required autocomplete="off">
          </div>
        </div>

        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Secret Key <span class="required">*</span></label>
          <div class="col-sm-10 controls">
            <input type="text" class="form-control" name="edit_account_dialog_secret_key"
                   value="<%- secret_key %>" required autocomplete="off">
          </div>
        </div>

        <div class="form-group control-group">
          <label class="col-sm-2 control-label">Region Category <span class="required">*</span></label>
          <div class="col-sm-10 controls region-category-select">
            <!-- <label class="checkbox ckb-category">
              <a href="#" class="btn" name="flag_category_commercial" checked="checked">
                <i class="icon-check" style=""></i>
              </a>
              Commercial
            </label>
            <label class="checkbox ckb-category">
              <a href="#" class="btn" name="flag_category_government">
                <i class="icon-check" style="display:none;"></i>
              </a>
              Government
            </label>
            <label class="checkbox ckb-category">
              <a href="#" class="btn" name="flag_category_china">
                <i class="icon-check" style="display:none;"></i>
              </a>
              China
            </label> -->
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary submit-btn submit-dialog" value="Update"/>
      </div>
    </form>
    </div>
  </div>
</div>
