<div class="modal fade higherWider modal-error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Error Message</h4>
      </div>
      <div class="modal-body">
        <div class="msg msg-error">
          <i class="icon icon-alert-circle"></i>
          <div class="msg-text">
            <% if (_.isArray(msg)) { %>
              <% _(msg).each(function(m, i){ %>
                <%- m %>
                <% if (i !== msg.length - 1) { %>
                  <br>
                  <br>
                <% } %>
              <% }); %>
            <% } else { %>
              <%- msg %>
            <% } %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
