<div class="modal fade higherWider modal-warning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Warning Message</h4>
      </div>
      <div class="modal-body">
        <div class="msg msg-warning">
          <i class="icon icon-info-circle"></i>
          <div class="msg-text">
            <% if (_.isArray(msg)) { %>
              <% _(msg).each(function(m, i){ %>
                <%- m %>
                <% if (i !== msg.length - 1) { %>
                  <br>
                <% } %>
              <% }); %>
            <% } else { %>
              <%- msg %>
            <% } %>
          </div>
        </div>
        <% if (detail != null) { %>
        <div class="msg-detail-text"></div>
        <% } %>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <label class="checkbox ckb-dont-show">
            <a href="#" class="btn" name="flag_dont_show">
              <i class="icon-check" style="display:none;"></i>
            </a>
            Don't show again
          </label>
        </div>
        <% if (extraButton) { %>
          <button type="button" class="<%- extraButton.className %> extra-button"><%- extraButton.text %></button>
        <% } %>
        <button type="button" class="<%- closeButton.className %>" data-dismiss="modal"><%- closeButton.text %></button>
      </div>
    </div>
  </div>
</div>
