<form class="form-horizontal">
  <div class="form-group control-group">
    <label for="billing_input_name" class="col-sm-4 control-label">Input Name:</label>
    <div class="col-sm-8 controls">
      <input type="text" class="form-control" id="billing_input_name">
    </div>
  </div>
  <div class="form-group control-group">
    <label for="s3_host_name" class="col-sm-4 control-label">S3 Host Name:</label>
    <div class="col-sm-8 controls">
      <input type="text" class="form-control" id="s3_host_name" value="s3.amazonaws.com">
    </div>
  </div>
<form>
