<div class="msg msg-error">
    <i class="icon icon-alert-circle"></i>
    <div class="msg-text">
        <% if (_.isArray(msg)) { %>
          <% _(msg).each(function(m, i){ %>
            <%- m %>
            <% if (i !== msg.length - 1) { %>
              <br>
            <% } %>
          <% }); %>
        <% } else { %>
          <%- msg %>
        <% } %>
    </div>
</div>
