<form class="form form-horizontal" role="form" onsubmit="return false;">
      <div class="form-group control-group">
        <label class="col-sm-2 control-label">Servers</label>
        <div class="col-sm-10 controls">
            <a href="#">Server1</a>,<a href="#">Server2</a>
        </div>
      </div>


      <div class="form-group control-group">
        <label class="col-sm-2 control-label">Templates</label>
        <div class="col-sm-10 controls">
            <a href="#">Time Metrics</a>
        </div>
      </div>

      <div class="form-group control-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10 controls">
          <input type="text" class="form-control" name="new_setting_dialog_name" placeholder="Name"
                 required
                 maxlength="255"
                 pattern="[\w_]{1,255}"
                 title="Please enter a valid name containing alphanumeric and underscore characters only"
                  >
          <p class="help-block"></p>
        </div>
      </div>


      <div class="form-group control-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10 controls">
          <input type="text" class="form-control" name="new_setting_dialog_description" placeholder="optional"
                  maxlength="255">
        </div>
      </div>

      <div class="form-group control-group" name="dv_url">
        <label class="col-sm-2 control-label">Schedule</label>
        <div class="col-sm-10 controls">
          <input type="text" class="form-control" name="new_server_dialog_url"  pattern="(?:[\w\-\_]+(?:\.[\w\-\_]+)*)"
                 data-validation-pattern-message="Input a valid host or IP"
                 placeholder="schedule expression" required>
        </div>
      </div>

      <div class="form-group control-group">
        <label class="col-sm-2 control-label">Index</label>
        <div class="col-sm-10 controls" name="new_task_dialog_index">
          <input type="text" class="form-control" name="new_server_dialog_url"  pattern="(?:[\w\-\_]+(?:\.[\w\-\_]+)*)"
                 data-validation-pattern-message="Input a valid host or IP"
                 placeholder="index" required>
        </div>
      </div>

      <div class="form-group control-group">
        <label class="col-sm-2 control-label">Sourcetype</label>
        <div class="col-sm-10 controls" name="new_task_dialog_index">
          <input type="text" class="form-control" name="new_server_dialog_url"  pattern="(?:[\w\-\_]+(?:\.[\w\-\_]+)*)"
                 data-validation-pattern-message="Input a valid host or IP"
                 placeholder="sourcetype" required>
        </div>
      </div>

      <div class="form-group control-group" name="dv_url">
        <label class="col-sm-2 control-label">Host</label>
        <div class="col-sm-10 controls">
          <input type="text" class="form-control" name="new_server_dialog_url"  pattern="(?:[\w\-\_]+(?:\.[\w\-\_]+)*)"
                 data-validation-pattern-message="Input a valid host or IP"
                 placeholder="Host or IP of the Cisco UCS Manager" required>
        </div>
      </div>
</form>

<!-- <div class="form-group control-group">
  <label class="col-sm-2 control-label">Polling Interval</label>
  <div class="col-sm-10 controls">
    <input type="number" class="form-control" name="new_task_dialog_interval" placeholder="Polling Interval" value="300" required min="1">
  </div>
</div> -->


<!--
<div class="form-group control-group">
  <label class="col-sm-2 control-label">Source Type</label>
   <div class="col-md-4 controls">
   <input type="text" class="form-control" name="new_task_dialog_sourcetype" placeholder="Source Type" value="cisco:ucs" required>
   </div>
  </div>
-->


<!-- <div class="form-group control-group">
  <label class="col-sm-2 control-label">Index</label>
  <div class="col-sm-10 controls" name="new_task_dialog_index">
  </div>
</div> -->
