<div class ="tool-bar">
  <div class ="tool-title">
    <span class="icon-tasks"></span><%= title%>
  </div>
  <% if (enableButton) { %>
    <div class = "tool-button">
      <div class="dropdown add-button">
        <button  id="<%= button_id%>" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
           <%= button_value%>
          <span class="caret"></span>
        </button>
      </div>
    </div>
  <% } %>

<div class= "tool-description">
    <%= description%>
  </div>
</div>
<hr>
