@import "../common.pcss";

body{
    background-color: #fff;
}

.modal-body {
    max-height: 800px;
}

.table-row-expanding {
    border-bottom: 2px solid #ccc;
}

.form-account, .form-iam-role {
    margin: 16px 0 16px 0 !important;
}

.form-account input[type=text]{
    width:300px;
}
.form-account .region-category-select{
    width: 314px;
}
/*auto detect check box*/
.form-account .checkbox.ckb-auto-detect{
    padding-right:30px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}
.form-account .checkbox.ckb-auto-detect a.btn{
    right: 0;
    left: auto;
}

/*Table column width*/
thead th:nth-child(1){
    width:30%;
    word-wrap: break-word;
    word-break: normal;
}

tbody tr td:nth-child(1){
    word-wrap: break-word;
    word-break: normal;
}
thead th:nth-child(2){
    width:18%;
    word-wrap: break-word;
    word-break: normal;
}

tbody tr td:nth-child(2){
    word-wrap: break-word;
    word-break: normal;
}
thead th:nth-child(3){
    width:170px;
    word-wrap: break-word;
    word-break: normal;
}
thead th:nth-child(4){
    width:200px;
    word-wrap: break-word;
    word-break: normal;
}

/*Navigation Tab CSS*/
.nav-tabs>li:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: skew(20deg, 0);
    -ms-transform: skew(20deg, 0);
    -webkit-transform: skew(20deg, 0);

    background-color: #eee;
    border: 1px solid #bfbfbf;
    border-top-color: #bfbfbf;
    border-bottom-color: #bfbfbf;
    color: #333;
}

.nav-tabs>.active>a, .nav-tabs>.active:hover>a, .nav-tabs>.active>a:hover, .nav-tabs>.active:hover>a:hover, .nav-tabs>.active>a:focus, .nav-tabs>.active:hover>a:focus {
    position: relative;
    z-index: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: none;
    outline-offset: -3px;
    padding: 0 30px;
    margin-right: -10px;
}

.nav-tabs>.active>a {
    color: #555;
    background-color: #fff;
    border: 0!important;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li>a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    padding: 0 30px 0 20px;
    margin: 0;
    line-height: 26px;
    color: #333;
    position: relative;
    background: none !important;
}

.nav-tabs>.active:before{
      background: #fff;
      border: 1px solid #bfbfbf;
      border-top-color: #bfbfbf;
      border-bottom: 1px solid #fff;
      transform: skew(-20deg, 0);
      -ms-transform: skew(-20deg, 0);
      -webkit-transform: skew(-20deg, 0deg);
      bottom:0;
}

.nav-tabs>.active:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    bottom: 0;
    width: 20px;
    background: #fff;
    border-right: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #fff;
    transform: skew(20deg, 0);
    -ms-transform: skew(20deg, 0);
    -webkit-transform: skew(20deg, 0);
}

li.prev:before {
    transform: skew(-20deg, 0);
    -ms-transform: skew(-20deg, 0);
    -webkit-transform: skew(-20deg, 0);
}
