<div class="popover popover-edit" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content">
        <input class="input-edit pull-left" 
            <% _.each(config, function(val, key){ %>
            <%- key %>=<%- val %> 
            <% })%>
        />
        <a href="#" class="icon-close btn pull-right"></a>
        <a href="#" class="icon-check btn btn-primary pull-right"></a>
    </div>
</div>