<form class="form form-horizontal" role="form" onsubmit="return false;">
    <div class="modal-body" id="aws-logging-modal-body">


        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS Billing</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-billing">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS Config</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-config">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS CloudTrail</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-cloudtrail">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS CloudWatch</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-cloudwatch">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS S3</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-s3">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS S3 (Incremental)</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-logs">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS Description</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-description">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS CloudWatch Logs</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-cloudwatch-logs">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS Kinesis</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-kinesis">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS Inspector</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-inspector">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS Config Rule</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-config-rule">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <label class="col-sm-2 control-label">AWS SQS</label>
            <div class="col-sm-10 controls">
                <select class="form-control" id="aws-logging-sqs">
                    <option>DEBUG</option>
                    <option>INFO</option>
                    <option>ERROR</option>
                </select>
            </div>
        </div>

        <div class="form-group control-group">
            <div class="col-sm-10 controls">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="aws-logging-save" disabled>Save</button>&nbsp;
            </div>
        </div>

    </div>
</form>
