<form class="form form-horizontal" role="form" onsubmit="return false;" autocomplete="off">
<div class="modal-body" id="aws-proxy-modal-body">
	<div class="form-group control-group">
		<label class="col-sm-2 control-label">Enable</label>
		<div class="col-sm-10 controls">
			<div class="checkbox">
		        <label><input type="checkbox" name="aws_proxy_enable" id="aws-proxy-enable"></label>
     		 </div>
		</div>
    </div>

    <div class="form-group control-group">
      <label class="col-sm-2 control-label">Host</label>
      <div class="col-sm-10 controls">
      <input id="aws-proxy-host" type="text" class="form-control" name="aws_proxy_host"  pattern="(?:[\w\-\_]+(?:\.[\w\-\_]+)*)"
               data-validation-pattern-message="Input a valid host or IP"
               placeholder="Proxy Host">
      </div>
    </div>

    <div class="form-group control-group">
      <label class="col-sm-2 control-label">Port</label>
      <div class="col-sm-10 controls">
      <input id="aws-proxy-port" type="text" class="form-control" name="aws_proxy_port"  pattern="(?:\d*)"
               data-validation-pattern-message="Input a valid port number"
               placeholder="Proxy Port">
      </div>
    </div>

    <div class="form-group control-group">
      <label class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10 controls">
      <input id="aws-proxy-user" type="text" class="form-control" name="aws_proxy_user"  pattern="(?:\S*)"
               data-validation-pattern-message="Input a valid username"
               placeholder="Username">
      </div>
    </div>

    <div class="form-group control-group">
      <label class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10 controls">
      <input id="aws-proxy-pass" type="password" class="form-control" name="aws_proxy_pass"  pattern="(?:\S*)"
               data-validation-pattern-message="Input a valid password"
               placeholder="Password" autocomplete="off">
	  </div>
    </div>

    <div class="form-group control-group">
		<div class="col-sm-10 controls">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="aws-proxy-save">Save</button>&nbsp;
		</div>
    </div>

    <input id="aws-proxy-disabled" type="hidden">
    <input id="aws-proxy-user-old" name="aws_proxy_user_old" type="hidden">
</div>
</form>
