<div class="addonContainer">
    <div class ="tool-bar">
      <div class ="tool-title">
        <span class="icon-tasks"></span>Configuration
      </div>

      <div class= "tool-description">
        AWS account, IAM role, proxy and logging information
      </div>
    </div>

    <div>
      <ul class="nav nav-tabs" style="display:block;">
        <li class="prev home active"><a data-toggle="tab" href="#account-tab" id="account-li">Account</a></li>
        <li><a data-toggle="tab" href="#iam-role-tab" id="iam-role-li">IAM Role</a></li>
        <li><a data-toggle="tab" href="#proxy-tab" id="proxy-li">Proxy</a></li>
        <li><a data-toggle="tab" href="#logging-tab" id="logging-li">Logging</a></li>
      </ul>

      <div class="tab-content">
        <div id="account-tab" class="tab-pane fade in active">

        </div>
        <div id="iam-role-tab" class="tab-pane fade"></div>
        <div id="proxy-tab" class="tab-pane fade">

        </div>
        <div id="logging-tab" class="tab-pane fade">

        </div>
      </div>
    </div>
</div>

<div id="new-account-dialog"></div>
<div id="delete-account-dialog"></div>
<div id="edit-account-dialog"></div>
<div id="addon_task_warning_dialog"></div>

<div id="new-iam-role-dialog"></div>
<div id="delete-iam-role-dialog"></div>
<div id="edit-iam-role-dialog"></div>