<div class="addonContainer">
    <div id="addon_input_title"></div>
    <div id="addon_input_caption"></div>
    <div id="addon_input_list"></div>
    <div id="addon_no_account"></div>
</div>

<div id="addon_task_add_dialog"></div>
<div id="addon_task_edit_dialog"></div>
<div id="addon_task_delete_dialog"></div>
<div id="addon_task_error_dialog"></div>
<div id="addon_task_warning_dialog"></div>